@import './base.css';

body {
  background-color: #ffc;
  color: #222;
  margin: 0;
}

a {
  cursor: pointer;
  color: #448;
  text-decoration: none;
}
a:hover {
  color: #66c;
  text-decoration: underline;
}
p a,
.caption a {
  color: currentColor;
  text-decoration: underline;
  text-decoration-color: #997;
}

p a:hover,
.caption a:hover {
  color: #000;
  text-decoration-color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #664;
  margin-top: 0;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0;
  margin-bottom: 0.75em;
}

.explanation-text {
  font-size: 0.875rem;
  text-align: left;
}
.dimmed-text {
  color: #888;
}

@keyframes hide-explanation {
  from {
    max-height: 100vh;
    opacity: 1;
    display: block;
  }
  to {
    max-height: 0;
    opacity: 0.2;
    display: none;
  }
}
@keyframes show-explanation {
  0% {
    max-height: 0;
    opacity: 0.2;
    display: block;
  }
  99% {
    max-height: 100vh;
    opacity: 1;
  }
  100% {
    max-height: unset;
  }
}

.explanation-hideable {
  overflow: hidden;
  display: none;
}
.explanations-are-showing .explanation-hideable {
  animation: show-explanation 1s ease-in-out forwards;
  display: block;
}
.explanations-are-not-showing .explanation-hideable {
  animation: hide-explanation 1s ease-in-out forwards;
  display: block;
}

.hoverafter-trigger + .hoverafter-displayer {
  display: none;
}
.hoverafter-trigger:hover + .hoverafter-displayer {
  display: block;
}

.gptwyd-btn {
  position: relative;
  height: 100%;
  font-weight: bold;
  border: 1px solid #888;
  border-radius: 0.5ex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #664;
  background-color: #cca;
  box-shadow: inset 0 -0.25ex 0.25ex #242a;
  padding: 0 0.25ex;
  cursor: pointer;
}
.gptwyd-btn:hover {
  background-color: #ddb;
}
.gptwyd-btn:active {
  background-color: #ffc;
  box-shadow: inset 0 0 0.25ex #2426;
}

.unicode-droid {
  font-family: 'Droid Sans', sans-serif;
}
